<div class="home">
  <div class="search-box">
    <form action="/artists">
      <input type="text" name="artist" id="artist" placeholder="Artist name" required autofocus>
      <input type="submit" value="Search Artists">
    </form>
  </div>
</div>